@font-face {
    font-family: "HighTowerText";
    src: url("../fonts/HTOWERT.ttf");
}

@font-face {
    font-family: "Neutra-Text";
    src: url("../fonts/NeutraText-Book.ttf");
}

@font-face {
    font-family: "Neutra-Demi";
    src: url("../fonts/NeutraText-Demi.otf");
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: "HighTowerText";
    font-size: 16px;
    background: url("../img/bg_top.png") no-repeat 0 26%,
    url("../img/bg_bottom.png") no-repeat right 106%, url("../img/bg.png") repeat;
}

h1,
h2,
h3,
p {
    margin: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    border: none;
    padding: 5px 10px;
}

.container {
    width: 960px;
    margin: 0 auto;
    display: table;
}

.shadow {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 10px 25px 2px rgba(0, 0, 0, 0.44);
    margin-top: 50px;
}

/*Header*/

.header {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}

.logo {
    float: left;
    margin: 1px 0 4px;
}

.navigation {
    float: right;
    font-size: .88em;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: right;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    color: #303030;
}

.navigation .menu li {
    padding-right: 21px;
    margin-top: 16px;
}

.navigation .menu li:last-child {
    padding-right: 0;
}

.navigation .menu li a {
    padding-bottom: 5px;
}

.navigation .menu li a:hover {
    border-bottom: 2px solid #303030;
}

.navigation .login {
    float: right;
    margin-top: 19px;
}

.navigation .login li {
    padding-right: 0;
}

.navigation .login li a {
    padding-bottom: 0;
}

.navigation .login li a:hover {
    opacity: 0.8;
    border: none;
}

/*Responsive menu*/

.menu-icon {
    cursor: pointer;
    float: right;
    padding: 34px 20px;
    position: relative;
}

.menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 35px;
}

.menu-icon .nav-icon:before,
.menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menu-icon .nav-icon:before {
    top: 8px;
}

.menu-icon .nav-icon:after {
    top: -8px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .navigation {
    max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .nav-icon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .nav-icon:after {
    top: 0;
}

.menu-icon {
    display: none;
}

/*Hero*/

.hero-slider, .hero img {
    width: 100%;
    display: block;
}

.hero-slider {
    position: relative;
    height: 450px;
}

.hero-slider div {
    position: absolute;
    z-index: 0;
}

.hero-slider .prev {
    z-index: 1;
}

.hero-slider .current {
    z-index: 2;
}

/*Banner*/

.banner {
    padding: 35px 35px 26px 35px;
}

.banner-element {
    float: left;
    margin-left: 72px;
}

.banner-element img {
    display: block;
}

.banner-element h2 {
    font-size: 2.25em;
    color: #4b4b4b;
    text-align: center;
    margin-top: 0.14em;
}

.banner-element:first-child {
    margin-left: 0;
}

.banner-element form {
    font-size: 1.125em;
    color: #4b4b4b;
    background-color: #e9e8e8;
    padding: 0 14px 21px 14px;
    width: 240px;
    height: 160px;
    margin: 0 auto;
}

.banner-element form h3 {
    text-align: center;
    font-size: 1.125em;
}

.banner-element form input {
    width: 210px;
    height: 30px;
    margin: 4px 0 8px 0;
}

/*Products*/

.product {
    float: left;
    padding: 20px;
    margin-right: 20px;
    width: 470px;
}

.product:nth-child(2n) {
    margin-right: 0;
}

/*Cart*/

.cart {
    color: #ffffff;
    background-color: #2d2d2d;
}

.cart h3 {
    font-size: 1.5em;
    text-align: center;
    padding: 0.66em 0.41em;
}

.cart-info {
    font-size: .88em;
    line-height: 1.71;
    color: #fefbfb;
    font-family: "Neutra-Text";
    padding: .5em .85em 1.14em 1.7em;
}

.cart-body {
    padding: 0 0 12px 25px;
}

.cart-element {
    float: left;
    font-size: 1.12em;
    margin-right: 48px;
    color: #ffffff;
}

form.cart-element {
    font-family: "Neutra-Demi";
    margin-right: 27px;
}

form.cart-element input {
    padding: 5px 7px;
}

.cart-element p {
    line-height: 1.5;
}

.cart-body img {
    margin-top: -8px;
}

.cart-element button {
    display: block;
    margin-top: 28px;
    padding: 0;
    border: none;
    outline: none;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
}

.cart-element button:hover {
    opacity: .7;
}

.cart-element input {
    width: 50px;
    height: 31px;
    margin-left: 6px;
}

/*Collection*/

.collection {
    padding-bottom: 35px;
    text-align: center;
}

.collection h1 {
    font-size: 3.75em;
    color: #4b4b4b;
}

.collection-element img {
    margin: 20px 15px 0;
}

.collection-element:hover {
    opacity: .7;
}

/*Footer*/

.footer {
    background-color: #2d2d2d;
    padding: 29px 0 67px;
    margin-top: 53px;
}

.footer-element {
    font-family: "Neutra-Text";
    color: #ffffff;
    float: left;
    width: 206px;
    font-size: 0.875em;
    margin-right: 157px;
}

.footer-element a {
    color: #ffffff;
}

.footer-element a:hover {
    transition: .7s ease;
    opacity: .7;
}

.footer-element:last-child {
    float: right;
    margin-right: 0;
}

.footer-element h3 {
    font-size: 1.28em;
    padding-bottom: 2px;
    border-bottom: 1px solid #ffffff;
}

.footer-element ul {
    padding: 0;
    list-style: none;
    margin: 7px 0 0 0;
}

.footer-element ul li {
    line-height: 18px;
}

.touch-item {
    background-position: 0 center;
    line-height: 43px;
    padding-left: 57px;
    background-repeat: no-repeat;
}

.touch-item.phone {
    background-image: url("../img/phone.png");
}

.touch-item.letter {
    background-image: url("../img/letter.png");
    margin-top: 5px;
}

.touch-item.letter a {
    margin-left: 10px;
}

.social {
    padding-top: 18px;
}

.social a:first-child {
    padding-left: 0;
}

.social a {
    display: inline-block;
    padding-left: 16px;
    cursor: pointer;
}

/*media query*/

@media only screen and (min-width: 1200px) {
    .hero {
        width: 1200px;
        margin: 0 auto;
        display: table;
    }
}

@media only screen and (max-width: 1199px) {
    .hero {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px;
    }

    .logo {
        width: 320px;
    }

    .navigation .login {
        margin-top: 12px;
    }

    .navigation .menu li {
        padding-right: 10px;
        margin-top: 5px;
    }

    .banner {
        padding: 26px;
    }

    .banner-element img {
        width: 220px;
    }

    .banner-element form {
        width: 220px;
        height: 147px;
    }

    .banner-element form input {
        width: 192px;
        height: 23px;
    }

    .banner-element {
        margin-left: 20px;
    }

    .banner-element h2 {
        font-size: 2em;
    }

    .product {
        width: 359px;
        margin-right: 50px;
    }

    .product img {
        width: 100%;
    }

    .cart-body img {
        display: none;
    }

    .cart-body {
        padding: 0 0 100px 25px;
    }

    .collection h1 {
        font-size: 3em;
    }

    .collection-element img {
        width: 215px;
    }

    .footer-element {
        margin-right: 65px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .container {
        width: 470px;
    }

    .logo {
        width: 330px;
    }

    .menu-icon {
        display: block;
    }

    .navigation {
        max-height: 0;
        transition: max-height .2s ease-out;
        overflow: hidden;
    }

    .logo, .navigation, .navigation .login {
        float: none;
    }

    .navigation .menu li, .navigation .login li {
        margin-top: 0;
        display: block;
        padding-bottom: 10px;
    }

    .navigation .login {
        margin-top: 10px;
    }

    .navigation .login li:nth-child(2n) {
        display: none;
    }

    .banner-element {
        float: none;
        margin: 40px 0 0 0;
    }

    .banner-element:first-child {
        margin-top: 0;
    }

    .banner-element h2 {
        font-size: 2em;
    }

    .banner-element img {
        margin: 0 auto;
    }

    .product {
        margin-right: 0;
    }

    .collection h1 {
        font-size: 3em;
    }

    .collection-element img {
        margin: 20px 0 0 0;
    }

    .footer-element, .footer-element:last-child {
        float: left;
        margin-right: 20px;
        margin-top: 20px;
    }

    .footer-element:first-child {
        float: none;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 90%;
        margin: 0 5% 0 5%;
    }

    .logo {
        width: 200px;
        margin: 8px 0 4px;
    }

    .menu-icon {
        display: block;
        padding: 25px 20px;
    }

    .navigation {
        max-height: 0;
        transition: max-height .2s ease-out;
        overflow: hidden;
    }

    .logo, .navigation, .navigation .login {
        float: none;
    }

    .navigation .menu li, .navigation .login li {
        margin-top: 0;
        display: block;
        padding-bottom: 10px;
    }

    .navigation .login {
        margin-top: 10px;
    }

    .navigation .login li:nth-child(2n) {
        display: none;
    }

    .banner {
        padding: 36px 17px 26px 17px;
        margin-top: 50px;
    }

    .banner-element {
        float: none;
        margin: 40px 0 0 0;
    }

    .banner-element h2 {
        font-size: 2em;
    }

    .banner-element:first-child {
        margin-top: 0;
    }

    .banner-element img {
        margin: 0 auto;
    }

    .product {
        margin-right: 0;
        width: 100%;
    }

    .product img {
        width: 100%;
    }

    .cart-body img {
        display: none;
    }

    .cart-body {
        padding: 0 0 115px 25px;
    }

    .cart-element {
        margin-right: 20px;
        font-size: 1em;
    }

    form.cart-element {
        margin-right: 0;
    }

    .collection {
        margin-top: 50px;
    }

    .collection h1 {
        font-size: 2em;
    }

    .collection-element img {
        width: 220px;
        margin: 20px 0 0;
    }

    .footer-element, .footer-element:last-child {
        float: none;
        margin-top: 20px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 320px) {
    .cart-element {
        margin-right: 6px;
    }
}